<% provide(:title, "Landing")  %>

<div class="left jumbotron">
    <h1>studyti.me</h1>
    <div class="btn btn-lg btn-primary">
        <a href="/static-pages/login/bob@ross.com/butts">Login</a>
    </div>
</div>
